
<header>
  <h1>Labor Data Entry</h1>
</header>
<div class="topnav" id="myTopnav">
  <div>
  <a routerLink="/Home" class="active">Home</a>
</div>
<div>
  <a routerLink="/Country">Country</a>
</div>
<div>
  <a routerLink="/District">District</a>
</div>
  <!-- <div class="dropdown">
    <button class="dropbtn">
      MasterData
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLink="/Country">Country</a>
      <a routerLink="/District">District</a>
    </div>
  </div> -->
  <div class="dropdown">
    <a routerLink="/Labor">Labor</a>
  </div>
  <div>
    <a routerLink="/Report">Report</a>
  </div>
</div>

<div>
  <router-outlet> </router-outlet>
</div>
